In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report
import spacy

In [4]:
import pandas as pd
df = pd.read_csv('/content/Articles.csv', encoding='latin-1') # Try reading with 'latin-1' encoding

In [5]:
df.head(5)

,Article,Date,Heading,NewsType
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business

In [6]:
nlp = spacy.load('en_core_web_sm')
def extract_dates_events(text):
    doc = nlp(text)
    dates = []
    events = []
    for ent in doc.ents:
        if ent.label_ == "DATE":
            dates.append(ent.text)
        elif ent.label_ == "EVENT":
            events.append(ent.text)
    return dates, events
df['Dates'], df['Events'] = zip(*df['Article'].apply(extract_dates_events))
output_file = '/content/Extracted_Dates_Events.csv'
df.to_csv(output_file, index=False)
extracted_df = pd.read_csv(output_file)
print("\nExtracted Dates and Events:")
print(extracted_df.head())

Extracted Dates and Events:
                                             Article      Date  \
0  KARACHI: The Sindh government has decided to b...  1/1/2015
1  HONG KONG: Asian markets started 2015 on an up...  1/2/2015
2  HONG KONG:  Hong Kong shares opened 0.66 perce...  1/5/2015
3  HONG KONG: Asian markets tumbled Tuesday follo...  1/6/2015
4  NEW YORK: US oil prices Monday slipped below $...  1/6/2015

                                             Heading  NewsType  \
0  sindh govt decides to cut public transport far...  business
1                    asia stocks up in new year trad  business
2           hong kong stocks open 0.66 percent lower  business
3             asian stocks sink euro near nine year   business
4                 us oil prices slip below 50 a barr  business

                                               Dates Events
0                                                 []     []
1  ['2015', 'Friday', 'January 5', 'December 31',...     []
2                  ['Monday', 'the first full week']     []
3  ['Tuesday', 'nine-year', 'The first full week'...     []
4  ['Monday', 'more than five years', 'six-month'...     []

In [7]:
print("\nExtracted Dates:")
for index, row in extracted_df.iterrows():
    print(f"Row {index + 1}: {row['Dates']}")

print("\nExtracted Events:")
for index, row in extracted_df.iterrows():
    print(f"Row {index + 1}: {row['Events']}")

Streaming output truncated to the last 5000 lines.
Row 387: ['Sunday', 'December 2016']
Row 388: ['Monday', 'seven-year', 'weekend', 'December 4', 'Monday', 'the day', 'Friday', 'last week', 'Monday', 'Thursday', '0300', '18,757.32']
Row 389: ['Tuesday', 'January', 'January', 'February 2009', 'the coming months', 'June last year', 'Wednesday']
Row 390: ['Wednesday', 'last 2015', 'Wednesday', 'almost a decade', 'the past year', 'Tuesday', 'November', '2015', 'December 2008', 'Tuesday']
Row 391: ['Thursday', 'Wednesday', 'the week ending December 11.While', 'January', 'February', 'December 4', 'March', 'the first quarter', '2006', 'Wednesday', 'four-decade', '1975']
Row 392: ['Friday', 'this week', 'Thursday', 'Thursday', 'a third week', 'December 2008', 'the same month', 'Thursday', 'a day', 'last week']
Row 393: ['the week', 'Friday', 'week', 'one day', 'almost a decade', 'multi-year', 'the day', 'a week', 'Wednesday', 'seven years', 'the Christmas holiday', 'Friday', '2200', '17,128.55', '2,005.55', '6,052.42']
Row 394: ['Monday', '0335', 'January', 'the start of 2009', 'February', 'December 4', 'summer 2014', 'Friday', 'the week ending December 18', 'last week', '40-year']
Row 395: ['Sunday', 'today', 'today']
Row 396: ['two-day', 'Tuesday', 'late last week', 'this week', 'Monday', 'November', 'the past couple of years', '2004', 'Monday', 'Friday', 'two months', 'four years', 'Monday', 'seven-year', 'earlier in the month', 'last week', 'nearly a decade', 'coming months', 'Monday']
Row 397: ['Wednesday', 'almost a decade', 'the end of the year', 'the holidays', 'early next year', 'the first quarter', 'Tuesday', 'last week', 'last week']
Row 398: ['Thursday', 'the long Christmas', 'Wednesday', 'the week ending December 18', 'week', 'week', '11-year', '0330', 'Thursday', 'this week', 'January', 'last week', '40-year', 'summer 2014.Domestic']
Row 399: ['Saturday', '2012-13', 'today', 'just two years', '2050']
Row 400: ['Monday', '2013', 'the past five months']
Row 401: ['2015', 'Monday', 'multi-year', '2015', 'January', 'this year']
Row 402: ['Monday', 'the long Christmas weekend', 'two-month', 'earlier in the month', 'Monday', 'Christmas holiday', 'this coming Friday', 'a holiday shortened week', 'next year', 'the first half of next year', 'the year', 'annual', 'nearly a decade', 'this month', 'next year', 'seven-year']
Row 403: ['Monday', 'the long Christmas weekend', 'the end of the year.</strongFront-month', 'last week', 'Monday', 'December', 'December', '40-year', 'Monday', 'week', 'Wednesday', 'Thursday', 'every day', 'November', 'the previous month', 'Monday', 'Monday', 'January', 'a year earlier', 'January', 'a year earlier', 'this month', '2014']
Row 404: ['the previous year']
Row 405: ['Friday, January 01, 2016', 'January 01', 'January 01', 'this day', 'annual']
Row 406: ['the month', 'the month of November']
Row 407: ['Tuesday', 'the year', 'Monday', '11-year', 'last week', 'Christmas', 'two-month', 'late last week', 'this month', 'nine years', '2016', '11-year', 'earlier this month', 'the first half of 2016', 'the 1990s']
Row 408: []
Row 409: ['2015-18', '2015-18', 'the end of the year 2018', 'Every year']
Row 410: ['next year', '2016']
Row 411: ['Wednesday', 'mid-2014', 'next year', '2015', '2016', 'early next year', 'the year', 'January', 'Jan. 3', 'Jan. 7.For', 'more than a week']
Row 412: ['Thursday', 'the year', '2016', 'the day', '2015', 'a second straight year', 'a year ago', '40-year', '11-year', 'the month', 'the year', '2014', 'December', 'the year', 'a second year in a row', 'the first quarter', 'next year', '2016', '2016', 'last week', 'decade', '2016', 'mid-2014', 'the end of 2014', 'Dec. 4']
Row 413: ['2015', 'five-year', 'Saturday', 'the last one year', 'Last year', 'the last year', '10 months']
Row 414: ['Monday', '2015', 'a good year', 'last year', 'December', 'annual', '2015', 'monthly', 'November 2014']
Row 415: ['Monday']
Row 416: ['the start of 2016', 'Sunday', 'Saturday', 'Monday', '2016', 'Monday', 'mid-2014']
Row 417: ['Tuesday', 'Monday', 'Monday', 'Monday', 'Monday', 'Tuesday', 'Monday', 'December', 'Tuesday', 'one-month', 'Monday', 'Tuesday', 'the previous day', 'February']
Row 418: ['Wednesday']
Row 419: ['11-year', 'Wednesday', 'the last three trading days', 'the last year', '1318', 'the day', 'early July 2004', 'one-day', 'nearly five weeks', 'the previous day', 'June 2014', '2016', '17 months', 'December', 'Monday', 'last week', 'weekly', 'later in the year', 'autumn']
Row 420: ['Wednesday', 'Tuesday', 'Tuesday', 'week', 'the start of', 'one-month', 'Tuesday', 'late April', '2-1/2-month', 'earlier this week', '11-year', 'this week', 'the week', 'seven-year', 'late last month', '12-year']
Row 421: ['Tuesday', '2015', 'this year', 'December', 'nine straight months', 'decades', '11 years', '2016', 'the next 12 months', 'annual', 'last month', 'this year', 'Monday']
Row 422: ['Wednesday', '2016', 'this year', '2015', 'June', '2016', 'June', 'annual', 'this year', 'June', '2016', '2016', '2016', '2015', 'June', '2016', 'last year - 1.4', 'June', '2015', '2016', '2015', '2016', '2015', '2015']
Row 423: ['11-year', 'Thursday', 'Thursday', 'the day', 'mid-2014', '11-year', 'Thursday', 'a day earlier', '2009', 'last week', 'last week', 'this year', 'many months', 'this year']
Row 424: ['the week ending Jan 1', 'the previous week', 'the first five months of 2015/16 fiscal year', 'the same period last year', 'The fiscal year', 'July to June']
Row 425: ['Friday', 'nine trading days', 'April 2004.U.S.', 'Thursday', 'late 2003', 'Thursday', 'June', 'Friday', 'Friday', '2003']
Row 426: ['Friday', 'five-day', 'weekly', 'December', 'previous months', 'the day', 'the week', 'weekly', 'more than four years', '5-day', 'a year', 'nine days', 'this week', 'the day', 'this week', 'more than four years', 'season', 'three months', 'Friday', 'late September', '"The start of the year', 'the day', '12-year', 'earlier in the week', 'Friday', 'the first quarter', 'the day', 'late October', '10-year', 'late Thursday', 'this week', 'the week', 'any week', 'August']
Row 427: ['Monday']
Row 428: ['the first six months', 'July - December', 'the preceding year', 'December 2015', 'November 2015', 'December 2014', 'Monday', 'the month of December 2015', 'December', 'December 2015', 'December 2014']
Row 429: ['Monday', 'the first day', 'today']
Row 430: ['Monday', 'nine-week', 'early November', 'Friday', 'this year', 'the 2016-2020', 'last week', 'Thursday', 'last year']
Row 431: ['the month of November 2015.According', 'the month of November', 'the same month', 'January 19']
Row 432: ['Tuesday', 'the beginning of the year', '0805', 'Tuesday', 'the beginning of the year', 'the year', 'Monday', 'early 2016', '2016', '2016']
Row 433: ['the year', 'Wednesday', 'one-year', 'December', 'a year earlier', 'December', 'a year earlier', '10-year', 'months', '12 years']
Row 434: ['12-year', 'Thursday', 'February 2004', 'this year', 'Friday', 'two days', 'Tuesday', 'Friday']
Row 435: ['Friday', '2016', 'Thursday', '12-year', 'earlier this week', 'weekly', '2016', 'January 4.Brent', 'Thursday', 'February 2004.Over', 'days', 'three or four months', 'last year', 'Thursday', 'Thursday', 'the middle of 2014."It', 'Friday']
Row 436: ['Saturday', 'three years', 'a period of', 'four years', 'a day', 'the first three years', 'recent years', 'the last year', 'Saturday', 'a decade ago', '10 years']
Row 437: ['next month', 'Wednesday']
Row 438: []
Row 439: []
Row 440: ['five-day', 'Monday', 'this year']
Row 441: ['2003', 'Monday', 'Saturday', '2011', 'Sunday', 'Monday', '2003', 'Friday', '2003', 'Monday', 'every day', 'mid-2014', 'years', '2011', 'Monday']
Row 442: ['Tuesday', 'the fourth quarter', 'a year earlier', '2009', 'December', 'a year earlier', '2016', 'six weeks ago', 'October 2011.Australian', '13-month', 'Monday', '13-year', 'Monday', 'the weekend', 'Monday', 'seven-year', 'last week', 'last week', '4-1/2-month', 'Monday']
Row 443: ['Wednesday', '0035', 'February', 'less than a year', 'a quarter of a century', '2015', 'six years', 'weekly', '2003']
Row 444: ['Thursday', 'dollar.</strongThursday', '2003', 'the day', 'February', '14-1/2 month', 'today', 'one-year', 'Wednesday', '1999', 'Wednesday', 'December', 'Wednesday', 'last month', 'this year', 'later this year']
Row 445: ['Friday', '12-year', 'earlier this week', 'weekly', 'this year', '12-year', 'earlier this week', 'weekly', 'between Jan. 4-20', '12-year', 'the week', 'earlier this year', 'the beginning of the year', 'the middle of this week', 'recent weeks', 'every day', 'the last week', 'the last 80 years']
Row 446: ['Monday', 'the end of last week', 'Friday', 'the day', 'the previous week', 'Monday', 'this week', 'Monday', 'one day', 'Monday', 'Friday', 'two-week']
Row 447: ['Monday', 'four-year', 'last week', 'last week', 'four-year', 'last week', '10-day', 'this year', 'Friday', 'Friday', 'this week', 'Jan. 26-27', 'Jan. 28-29.Investors', '13-year', 'the start of the year', 'the end of last week', '10-year', 'Friday', 'a week', 'Friday', 'two-week', 'Friday', 'nine-day', 'Friday', 'winter', 'Friday', 'last week', 'May 2003']
Row 448: ['two-week', 'Tuesday', 'Jan. 8', '0313', 'November', 'February', 'this year', 'two-day', 'Tuesday', 'March', 'later in the year', 'this year', '2015', 'a third year in a row', 'seven-year', '2016', 'more than a decade']
Row 449: ['Thursday', 'Wednesday', 'Wednesday', 'August', 'March', 'fourth-quarter', 'Annual', 'week']
Row 450: ['Thursday', 'weekly', 'Thursday', 'January 22', 'the week ending Jan. 22', 'the previous week', 'the week']
Row 451: []
Row 452: ['February', 'Saturday']
Row 453: ['Sunday', 'Saturday', 'February 1']
Row 454: ['annual', 'January', 'December', 'year-on-year', 'month', 'January', 'December', 'July-January 2015/2016', 'July-January 2014-15', 'Saturday', 'the current fiscal year']
Row 455: ['a new month', 'Monday', 'last week', 'January', 'January', 'Monday', 'this year', 'the first quarter', 'January', 'monthly', '2008', 'January', 'March', 'this year', 'this year', 'January', 'two-year', 'three-month', 'Friday', '10-year', 'August-October', 'Monday', '10-year', 'two-year', 'six-week', 'Friday', '12-year', 'less than two weeks ago', '13-year', 'late January']
Row 456: ['three-month', 'Tuesday', 'this year', 'Nov. 3', '0226', 'late October', 'April', 'Monday', 'Nov. 3.Global', 'the start of 2016', 'monthly', 'a year', 'January', '2016', 'last year', 'last week', 'this year', 'December', 'the last year', 'this year']
Row 457: ['Thursday', '2013', 'three years ago', 'Thursday', 'two and half year']
Row 458: ['Friday', 'next week', 'the start of the year', 'this week', 'Friday', 'Friday', 'the coming six to eight weeks', 'the week to Jan. 29']
Row 459: ['Monday', 'last month', 'February 2008', 'the new year holiday', 'late in the week', 'the entire week', 'the weekend', 'a third straight month', 'January', 'a quarter of a century', 'the first decade of the 21st century', 'coming months', 'the weekend', 'daily', 'weekly', 'a sixth straight week through Feb. 2', 'roughly the third week of October', 'Friday', 'last Thursday', 'October', 'Friday', '2-1/2 week', 'a week', 'weekly', 'July', 'Friday', 'three-month', 'Friday', 'Sunday']
Row 460: ['Tuesday', 'Tuesday', 'next two years', 'fiscal year', 'seven years', 'current financial year', 'the current fiscal year', '2018 10', '2025']
Row 461: ['two months ahead', '2015-16', 'this year', 'next two to three years']
Row 462: ['Tuesday']
Row 463: ['2016', 'five-year', '2016', 'January', 'the past 18 months', '2016', '2016', 'the first quarter', 'the second quarter', 'the second half of the year']
Row 464: ['June', 'Tuesday', '2011.</strongTuesday', 'eighth straight day', 'week-long', 'Monday', 'June 22 last year', 'Tuesday', '11-day', 'July 2011."While', 'November 2014', 'last week', 'July 2013', 'this year', 'April', 'Friday', 'July 2015.More', 'the start of the year', 'five-week', 'March 2011."We', 'Monday', 'three-month', 'three-month']
Row 465: ['the first seven months', 'July - January', '2015-16', 'January 2016', 'December 2015', 'January', 'the month of January 2016', 'January 2015.Remittances', 'January 2016', 'January 2015']
Row 466: ['Wednesday']
Row 467: ['Wednesday', 'today', 'annually']
Row 468: ['Wednesday', '15-month', '2-1/2-year', 'Tuesday', '16-month', 'the week', '10-year', 'Tuesday', 'one-year', '10-year', '10 months', 'this week', '15-month', 'four-month', 'Tuesday', 'this month', 'four-month', 'the week', 'a decade', 'last year', 'Tuesday', '7-1/2-month', 'Monday']
Row 469: ['Thursday', 'every month', '2016', 'next year', 'several years', '2004']
Row 470: ['Thursday', 'the second half', 'January', 'Wednesday', 'the end of the winter', 'the second half of the year', '2H2016', 'April 2003.Oil', 'mid-2014', 'every day', 'all week', 'a public holiday']
Row 471: ['Friday', 'one-year', 'its best week', 'four years', '10-year', '2012', '15 months', 'Thursday', 'a year', 'daily', 'Friday', '0335', 'Thursday', 'two months', 'this year', 'three straight years', '2016', 'the week', 'weekly', 'October 2011', 'the week', 'this year']
Row 472: ['annual', 'eighteen thousand to eighteen thousand eight hundred', 'first of July last year']
Row 473: ['Sunday', 'two-day', 'last month']
Row 474: ['Monday', 'late last week', 'April', 'Sunday', 'Friday', 'March', 'Thursday', '12-year', 'Monday', 'the Presidents Day', '15-month', 'Monday', 'last month', 'today', 'the start of the next Iranian year', 'March 20', 'Saturday', 'Saturday', 'January', 'a year earlier', 'Monday', 'the final quarter of last year', 'Monday']
Row 475: ['1664', 'February 15', 'the same period of last fiscal year', 'first 15 days', 'February 2016', 'same period last year', 'the months of October and November and mid of December', 'the same period of previous year', 'the second quarter of current fiscal year']
Row 476: ['Tuesday', 'the first week', 'Last week', 'annually', 'two-day']
Row 477: ['Tuesday', 'November 2014', 'the past 20 months']
Row 478: ['Tuesday', "last week's", 'three-week', 'Monday', 'last week', '2008.On Monday', 'the last two weeks', 'last week', 'Friday', '15-month', 'Thursday', 'Monday', 'Thursday', '3 1/2-month', 'March', 'Thursday', 'one-year', 'recent weeks', 'Monday', 'almost seven months', 'a week', '10-year', 'the end of last week', 'Tuesday']
Row 479: ['Wednesday', '2001', 'years', 'Tuesday', 'January', 'over a decade', 'daily', 'Wednesday', '1130', 'last month', '2012', 'the next 6-12 months']
Row 480: ['Wednesday', 'January', 'Tuesday', 'Tuesday', 'January', 'January', 'Tuesday', 'January', 'this year', 'the year', 'Wednesday', 'April', 'Wednesday', '2015', 'Wednesday', 'the week to Feb. 12', 'Tuesday', 'Wednesday', 'Thursday', 'a day later', 'Monday']
Row 481: ['Wednesday', 'Wednesday', 'January', 'Wednesday', '2012', '15 years', 'Thursday', 'Wednesday', 'summer']
Row 482: ['three-week', 'Friday', 'the week', 'weekly', '"This week', '2016', 'six-week', 'Thursday', 'three weeks', 'January', 'Friday', 'the week', 'two-week', 'Thursday', 'this week', 'Thursday', 'Thursday', '10-year', 'Wednesday', 'one-week', 'week', 'Friday', 'June 2013', 'two-week', 'Thursday', 'January', 'June', 'seven-year', 'last month']
Row 483: []
Row 484: ['Monday', '2015', 'the best year', 'last year', 'last year']
Row 485: ['Monday', 'February', 'Union.</strongA busy week', 'last week', 'February', 'January', 'the weekend', 'Friday', 'weekly', 'this year', 'strongest week', 'July', 'last week', 'Friday', 'Friday', 'last Friday', 'January', 'nearly 4-1/2 years', 'this year', 'this week']
Row 486: ['Tuesday', 'today']
Row 487: ['Tuesday', 'seven-week', 'three-week', 'Monday', 'the day', 'this year', 'this week', 'early January', 'Monday', 'March', 'Friday', 'August', 'the beginning of the year', 'two-week', 'Monday', 'two-week']
Row 488: ['Wednesday', '0246', 'Monday', 'six-week', 'Tuesday', 'Feb. 1', 'Monday', 'Tuesday', 'January', 'this year', '10-year', 'two-week', 'earlier this week', 'one-year', 'about two weeks ago', 'Tuesday', '15-month', 'Feb. 11', 'one-month', 'Tuesday', 'three-week', 'Tuesday', 'seven-year', 'Wednesday', 'June']
Row 489: ['Thursday', 'Friday', 'two-week', 'three-week', 'seven-year', 'June 23', 'the past four weeks', 'a year ago', 'April', 'Wednesday', 'early February', 'October 2013', 'one-year', 'Feb. 11']
Row 490: ['Friday', 'Thursday', 'March', 'January', 'Friday', 'January', 'a day', 'January', 'the next year', 'January', 'this week']
Row 491: ['Saturday', 'the next 10 years', 'the year', 'the past 8', 'the current year', 'February 29']
Row 492: ['February 26.The', 'last date', 'March 15', 'March 31', 'February 29', 'March 1']
Row 493: ['current financial year', 'July-January', 'Sunday', 'July January 2015', 'previous year', 'July January (2015 16', 'last year', 'next two years', 'between ages of 21 30 years', 'the last five years', 'the Fiscal Year 2014', '2015', '2012']
Row 494: ['Monday', 'two years', 'the fiscal year', 'April 1.strong', 'year-on-year', 'every 5 years', 'last year', 'April 1,2017', '10-year', 'Jan. 22', 'a single day']
Row 495: ['Monday', 'weekend', "year-end.</strongMSCI's", 'second consecutive month', 'this month', 'the overnight fall', '15-month', 'the weekend', 'Friday', 'January', 'four years', 'the fourth quarter', 'annual', 'the end of year', 'mid-February', 'two-year', 'four-week', 'Friday', 'Feb 11', 'three-week', 'Friday', 'three-week', 'Friday', 'Monday', 'the day', 'one-week', 'Friday', 'Monday to 113.41.Still', 'February', 'this month', 'seven-year', 'month', 'this month', 'earlier this month', 'the end of January']
Row 496: ['the month', 'Monday', 'the month of January', 'the month of February']
Row 497: ['April', 'March', 'the start of this year', 'summer', 'season', 'March', 'March', 'the past month', 'monthly']
Row 498: ['Wednesday', 'Wednesday', 'eight-week', 'Tuesday', 'early January', 'Wednesday', 'February', 'January', 'one-month', 'Tuesday', 'Friday', 'this year', 'this year', 'nearly a decade', 'December', 'Tuesday', 'September', 'January', 'the same period last year', 'Tuesday']
Row 499: ['Thursday', 'two-year', 'seven-week', 'Wednesday', 'almost two months', 'Wednesday', 'this year', 'February', 'Friday', 'next week', 'December', 'one-month', 'two-week', '2016', 'the day', 'Wednesday', 'fourth quarter', 'annual']
Row 500: ['Wednesday', 'next month', 'Jones Day', 'about three weeks', 'Sept. 3.VW', 'Sept. 20', 'January', 'A week ago', 'More than five months']
Row 501: ['Friday', 'November 2014.</strongBrent', 'the week', 'last week', 'a sixth straight week', 'Friday', 'February', '1330', 'Friday', 'the middle of this year', 'the coming months', '2016-17', 'Friday', 'this year', 'the first year', '2008', 'Friday', 'this year', 'this year', '2017']
Row 502: ['Saturday']
Row 503: ['2016', 'Saturday', '2015', '2016', 'years', 'January']
Row 504: []
Row 505: ['Monday', 'year', 'January', 'February', 'Friday', 'early Monday', 'Monday', 'annual', 'this week', 'this year', 'an 11th week', 'December 2009', 'Friday', 'the week ended March 4', 'more than a quarter', 'mid-February']
Row 506: ['the month', 'Monday', 'the month of January', 'the month of February']
Row 507: ['April', 'March', 'the start of this year', 'summer', 'season', 'March', 'March', 'the past month', 'monthly']
Row 508: ['Wednesday', 'Wednesday', 'eight-week', 'Tuesday', 'early January', 'Wednesday', 'February', 'January', 'one-month', 'Tuesday', 'Friday', 'this year', 'this year', 'nearly a decade', 'December', 'Tuesday', 'September', 'January', 'the same period last year', 'Tuesday']
Row 509: ['Thursday', 'two-year', 'seven-week', 'Wednesday', 'almost two months', 'Wednesday', 'this year', 'February', 'Friday', 'next week', 'December', 'one-month', 'two-week', '2016', 'the day', 'Wednesday', 'fourth quarter', 'annual']
Row 510: ['Wednesday', 'next month', 'Jones Day', 'about three weeks', 'Sept. 3.VW', 'Sept. 20', 'January', 'A week ago', 'More than five months']